/*TOP SECTION*/

.card {
  margin-top: 50px;
  /*width: 400px;*/ /*because it takes the width of the container which is centered*/
  background-color: white;
  padding: 30px;
  border-radius: 8px;
}

.top-section {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
  align-items: center;
  position: relative;

}
.top-section img {
  /*background-size: cover;*/
  width: 50%;
}

.top-right-text {
  width: 50%;
}

.top-right-text p {
  opacity: 0.7;
  margin-bottom: 30px;
}

.heart {
  color: #FD77A0;
  font-size: 40px;
  position: absolute;
  top: 20px;
  left: 30px;
}

.stars {
  color: orange;
  font-size: 20px;
}

/*MIDDLE IMAGE*/

.middle-img {
  height: 175px;
  width: 100%;
  margin-bottom: 20px;
  object-fit: cover;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

/*BOTTOM SECTION*/

.bottom-section {
  display: flex;
  justify-content: space-between;

}

.bottom-section img {
  width: 30%;
  object-fit: cover;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.active {
  border: 3px solid orange;
}




